<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.p1.mapper.LoginMapper">
    <resultMap id="userMap" type="com.p1.entity.User">
        <id column="id" property="userId"></id>
        <result column="username" property="userName"></result>
        <result column="account" property="userAccount"></result>
        <result column="password" property="userPwd"></result>
        <result column="sex" property="userSex"></result>
        <result column="vip_levl" property="userVipLevel"></result>
    </resultMap>
    <resultMap id="managerMap" type="com.p1.entity.Manager">
        <id column="manager_id" property="managerId"></id>
        <result column="manager_account" property="managerAc"></result>
        <result column="manager_password" property="managerPwd"></result>
    </resultMap>

    <select id="selectManagerByac" resultMap="managerMap">
        select *
        from manager
        where manager_account = #{managerAc}

    </select>
    <select id="selectUserByac" resultMap="userMap">
        select *
        from user
        where account = #{userAccount}


    </select>
</mapper>