<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.p1.mapper.MovieMapper">


    <resultMap id="movieMap" type="com.p1.entity.Movie">
        <id column="m_id" property="movieId"></id>
        <result column="m_name" property="movieName"></result>
        <result column="live_date" property="movieLiveDate"></result>
        <result column="score" property="movieScore"></result>
        <result column="concern_amount" property="movieCA"></result>
        <result column="description" property="movieDesc"></result>
        <result column="m_type" property="movieType"></result>
        <result column="language" property="movieLanguage"></result>
        <result column="m_time" property="movieTime"></result>
        <result column="sale" property="movieOnSale"></result>
        <result column="score_count" property="socreCount"></result>
        <result column="pic_url" property="picUrl"></result>
        <result column="actor_name" property="actorName"></result>
        <result column="price" property="moviePrice"></result>


    </resultMap>


    <select id="selectMovieOSList" resultMap="movieMap">
        select*
        from movie_info
        where sale = 1
    </select>
    <select id="selectMovieRSList" resultMap="movieMap">
        select*
        from movie_info
        where sale = 0
    </select>
    <select id="selectMovieNSList" resultMap="movieMap">
        select*
        from movie_info
        where sale = 2
    </select>

    <select id="selectByName" resultMap="movieMap">
        select *
        from movie_info
        where m_name = #{movieName}
    </select>
    <select id="selectById" resultMap="movieMap">
        select *
        from movie_info
        where m_id = #{movieId}
    </select>
    <!--    values(
                       #{movieName},
                       #{movieLiveDate},
                       #{movieScore},
                       #{movieCA},
                       #{movieDesc},
                       #{movieType},
                       #{movieLanguage},
                       #{movieTime},
                       #{actorName},
                       #{moviePrice}
                       )-->

    <insert id="insertMovie">
        insert into movie_info(m_name,
                               live_date,
                               description,
                               m_type,
                               language,
                               m_time,
                               sale)
        values (#{movieName},
                #{movieLiveDate},
                #{movieDesc},
                #{movieType},
                #{movieLanguage},
                #{movieTime},
                #{movieOnSale})

    </insert>
    <select id="selectCount" resultType="int">
        select count(1)
        from movie_info

    </select>
    <update id="scoring">
        update movie_info
        set score=#{movieScore}
        where m_name = #{movieName}
    </update>
    <update id="upCA">
        update movie_info
        set concern_amount = concern_amount + 1
        where m_id = #{movieId}
    </update>
    <update id="OnSale">
        update movie_info
        set sale=1
        where m_id = #{movieId}
    </update>
    <update id="NotSale">
        update movie_info
        set sale=2
        where m_id = #{movieId}
    </update>
    <select id="selectSale" resultType="int">
        select sale
        from movie_info
        where m_id = #{movieId}
    </select>
    <update id="updateMovieScore">
        update movie_info set score=#{movieScore},score_count=#{movieCount} where m_id=#{movieId}
    </update>

    <select id="selectScoreCount" resultType="int">
        select score_count
        from movie_info
        where m_name = #{movieName}

    </select>

    <select id="getAllMovieBaseInfo" resultMap="movieMap">
        select m_id, m_name, pic_url, live_date
        from movie_info
    </select>
    <select id="queryMovieInfoById" resultMap="movieMap">
        select *
        from movie_info
        where m_id = #{id}
    </select>


</mapper>